<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="">
        <a href="/currencies"> <h1> Currencies </h1> </a>
    </div>
    <div class="">
        <a href="/products"> <h1> Products </h1> </a>
    </div>
    <div class="">
        <a href="/productsWithCurrency"> <h1> ProductsWithCurrency </h1> </a>
    </div>
  </section>
</body>
</html>
